/*
The menubarr container that holds the toolbars for the selected cell.
*/


.menubar-container {
    display: flex;
    justify-content: flex-start; /*  Allows left button row and right button row to be spaced apart */
    
    background: var(--menu-background, var(--debug-color)); /* Default to dark background if not set */

    font-size: var(--menubar-font-size);  /* Observation: Does not change fontsize of text in menubar */
    font-family: var(--ui-font);
    color: var(--ui-text-color, var(--debug-color));

    z-index: var(--menubar-z-index, 2000);

    padding-left: 0em; /* Luna about icon takes care of left padding */
    padding-right: 0.4em; /* Extra right padding */

}

