
/* Style for the container where the cells are displayed */
/* The list is the ONLY outer scroller */
.cell-containers-list {
  box-sizing: border-box;
  display: flex;
  position: absolute; 
  /*position: relative;*/ 
  flex-direction: column;
  min-height:0; 
  width:100%;
  overflow-y: hidden;
  gap: 4px;
  padding-right: 1em;
  border: 0px solid blue; /* for debugging */
}

