
/* Style for the container where the cells are displayed */
/* The list is the ONLY outer scroller */
.cell-containers-list {
  box-sizing: border-box;
  position: fixed; 
  /*position: relative;*/ 
  display: absolute; 
  flex-direction: column;
  min-height:0; 
  width:100%;

  overflow-y: visible; /* sole column scroller */

  gap: 0;
  padding-right: 5em;
  border: 40px solid blue;
}

