/*
The top toolbar container that holds the toolbars for the selected cell.
*/

.top-toolbar-container {
    display: flex;
    font-size: var(--toolbar-font-size);
    font-family: var(--ui-font);

    align-items: center;
    justify-content: flex-start; /*  Allows left button row and right button row to be spaced apart */
    
    background: var(--toolbar-background, #f4f4f4);

    height: fit-content;

    
    color: var(--ui-text-color, var(--debug-color));

    z-index: var(--toolbar-z-index, 2000);

    padding: var(--toolbar-container-padding, 0.2em 0.5em);

    margin-bottom: var(--toolbar-margin-bottom, min(5px,0.5em));
}

.top-toolbar-placeholder {
  opacity: 0.6;
  font-size: 1em;
  padding: 0.3em 0;
}
