/* Base style for the panel content container that holds 
all the specific side panel types

NO PADDING HERE

*/

.sidepanel-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--sidepanel-background, var(--debug-color), red);
}