/* Styles for the notebook list in the side panel */

.notebook-list {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  scrollbar-width: normal;
  margin: 0;
  padding: var(--sidepanel-notebook-item-padding);
  display: flex;
  flex-direction: column;
  gap: var(--sidepanel-notebook-item-gap);
}

.notebook-item {
  padding: var(--sidepanel-notebook-item-padding);
}