/* Development markers for implemented/not-implemented features */

.not-implemented {
  color: #e53935;
  margin-left: 0.75em;
  font-size: 1.1em;
  vertical-align: middle;
}

.implemented {
  color: #43a047;
  margin-left: 0.75em;
  font-size: 1.1em;
  vertical-align: middle;
}
